/* ==========================================================================
Main page styles
========================================================================== */

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

@import '~@angular/material/theming';

.img {
  width: 100%;
  margin-bottom: 8%;
  height: 200px;
}

  .example-card {
    width: 25%;
    float: left;
}
