<div style="text-align:center">
    <h3> Welcome to {{ title }}! 
      <fa-icon [icon]="faPaw"></fa-icon>
    </h3> 
  </div>  
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
      <p class="card-picture2" style="text-align:center">At CM Grooming Services we ensure your pooch is treated to the life of luxury that they deserve!
          Offering a range of services including cuts and blowdries, pawdicures, massages as well as facials, we use only the best quality products and the best in the business to ensure your dog leaves with a smile on their face, bone in their mouth and tails wagging!
      </p>
    </div>
      <div class="row">
   
  <div class="col-md-9">
   

<div style="text-align:center">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <mat-card class="card-picture" *ngFor="let product of products">
      <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutAlign="center">
        <span fxFlex="80%">{{product.name}}</span>
      </mat-card-title>
      <mat-card-subtitle>€{{product.price}}</mat-card-subtitle>
      <img mat-card-image class="img" [src]="product.img">
      <img mat-card-image class="img" src = "../../content/images/Facial.jpg">
       <mat-card-content>
          <p> {{product.desc}}
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">BOOK NOW</button>
        </mat-card-actions>
    </mat-card>
  </div>
</div>
</div>
</div>
